*{margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}
#bg{width: 100%;height: 100vh;background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(96,13,133,1) 73%, rgba(120,0,172,1) 93%, rgba(116,0,167,1) 100%);display: flex;justify-content: center;font-size: 20px;}
::selection {background-color: #774f82;color: black;}
#cursor-trail {z-index: 1000;position: fixed;  top: 0;  left: 0;  width: 150%;  height: 150%;  pointer-events: none;}
#cursor-trail .cursor { position: absolute;  width: 4px;  height: 10.6px;  background-color: #00ffee;}

.main-box{
  background: #000000;
  height: 35px;
  width: 250px;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  display: flex;
  opacity: 70%;
  border-radius: 15px;
  z-index: 10;
  
}
#bg h1{
  position: fixed;
  transform: translate(-50%, -150%);
  top: 50%;
  left: 50%;
  z-index: 10;
  
}
#uv-address, #uv-address:focus{
  background: transparent;
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  outline: none;
  z-index: 10;
  
}
button[type="submit"], button[type="submit"] img{
  width: 26px;
  height: 20px;
  background: transparent;
  border: none;
  position: fixed;
  transform: translate(-35%, -21%);
  opacity: 70%;
  z-index: 10;
  
}
nav {
  opacity: 70%;
  background-color: #000000;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
  
}
#main-nav {
  opacity: 70%;
  background-color: #000000;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  z-index: 10;
  transition: right 0.3s ease-in-out;
  flex-direction: column;
  text-decoration: none;
  text-align: left;
}
#main-nav.active{
  right: 0;
  z-index: 10;
  
}

#nav-toggle.active, #nav-toggle.active img{
  right: 22%;
  z-index: 10;
  
}

#nav-toggle img {
  position: fixed;
  top: 1px;
  right: 20px;
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;
  right: 50px;
  z-index: 10;
  transition: right 0.3s ease-in-out;
}

#main-nav ul li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 10;
  
}
li a:hover {
  background-color: #111;
}
nav {
  display: flex;
  align-items: center;
  z-index: 10;
  
}

.logo h1 {
  color: white;
  z-index: 10;
  
}

#discord-btn, #discord-btn img{
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #7289da;
  color: #fff;
  border: 5px solid #7289da;
  border-radius: 5px;
  cursor: pointer;  
  border-radius: 50%;
  height: 40px;
  width: 40px;
  z-index: 10;
  
}
#patreon-btn:hover, #patreon-btn img:hover {
  background-color: #ff5842;
  border-color:  #ff5842;
  z-index: 10;
  
}
#patreon-btn, #patreon-btn img{
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 80px;
  background-color: #F76754;
  color: #fff;
  border: 5px solid #F76754;
  border-radius: 5px;
  cursor: pointer;  
  border-radius: 50%;
  height: 40px;
  width: 40px;
  z-index: 10;
  
}
#discord-btn:hover, #discord-btn img:hover {
  background-color: #677bc4;
  border-color:  #7289da;
}
.logo #clock{
  top: 50%;
  margin: 10px;
  color: white ;
  z-index: 10;
  
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  
}

.logo h1:first-child {
  margin-right: 20px;
  z-index: 10;
  
}

#clock {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 10;
  
}
.credits-box{
  background: #000000;
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  opacity: 70%;
  border-radius: 15px;
  text-align: left;
  z-index: 10;
  
}
#creditx, #creditx2{
  text-align: left;
  color: white;
  z-index: 10;
  
}
.setting-box{
  background: #000000;
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  opacity: 70%;
  border-radius: 15px;
  text-align: left;
  z-index: 10;
  
}
#cloak{
  color: white;
  background: black;
  border: 2px solid white;
  width: 200px;
  height: 50px;
  z-index: 10;
  
}
#cloaktxt{
  color: white;
  font-size: 10px;
  top: 0%;
  z-index: 10;
  
}
#disc-widget{
  position: fixed;
  top: 15%;
  left: 10%;
  transform: translate(-50% -50%);
  border: none;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow-y: auto;
  max-height: 400px;
  top: 15%;
  left: 27%;
  position: fixed;
}
.apps-btn, .apps-btn img{
  border:none;
  background: #000000;
  opacity: 70%;
  width: 200px;
  height: 200px;
  transition: background-color 0.3s ease-in-out;  
}
.apps-btn img:hover {
  background-color: #805b80;
}